@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

img{
    width: 300px;
    height: 250px;
    border-radius: 5px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    color: #DDD;
    font-family: 'Montserrat', sans-serif;
}

.descricao{
    width: 300px;
}

h2{
    margin-bottom: 5px;
    margin-top: 10px;
}

.duracao{
    width: 300px;
    margin-top: 25px;
}

.barra{
    width: 300px;
    height: 6px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

progress{
    height: 6px;
    width: 0;
    background-color: #333;
}

.ponto{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eee;
    margin-left: -10px;
}

.tempo{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 10px;
}

.player{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12px;
}

.botao-play, .botao-pause{
    font-size: 50px;
    cursor: pointer;
}

.setas{
    font-size: 40px;
    cursor: pointer;
}

.botao-pause{
    display: none;
}
